<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
%pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\elitebook\anaconda3\lib\site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\elitebook\anaconda3\lib\site-packages (1.3.9)
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.4.0-py3-none-any.whl (31 kB)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\elitebook\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Collecting ibm-db>=2.0.0 (from ibm_db_sa)
  Obtaining dependency information for ibm-db>=2.0.0 from https://files.pythonhosted.org/packages/71/72/b49b5e54e217190e6c22f8eecb8f4984923bca7d1934b14bcc3d9117b23c/ibm_db-3.2.0-cp311-cp311-win_amd64.whl.metadata
  Downloading ibm_db-3.2.0-cp311-cp311-win_amd64.whl.metadata (1.4 kB)
Downloading ibm_db-3.2.0-cp311-cp311-win_amd64.whl (27.7 MB)
   ---------------------------------------- 0.0/27.7 MB ? eta -:--:--
   ---------------------------------------- 0.2/27.7 MB 3.1 MB/s eta 0:00:10
   ---------------------------------------- 0.3/27.7 MB 3.2 MB/s eta 0:00:09
    --------------------------------------- 0.5/27.7 MB 3.4 MB/s eta 0:00:08
    --------------------------------------- 0.5/27.7 MB 3.3 MB/s eta 0:00:09
   - -------------------------------------- 1.0/27.7 MB 3.6 MB/s eta 0:00:08
   - -------------------------------------- 1.1/27.7 MB 3.8 MB/s eta 0:00:08
   - -------------------------------------- 1.1/27.7 MB 3.2 MB/s eta 0:00:09
   - -------------------------------------- 1.1/27.7 MB 3.2 MB/s eta 0:00:09
   -- ------------------------------------- 1.6/27.7 MB 3.6 MB/s eta 0:00:08
   -- ------------------------------------- 1.9/27.7 MB 3.7 MB/s eta 0:00:07
   --- ------------------------------------ 2.3/27.7 MB 4.0 MB/s eta 0:00:07
   --- ------------------------------------ 2.6/27.7 MB 4.0 MB/s eta 0:00:07
   ---- ----------------------------------- 2.8/27.7 MB 4.0 MB/s eta 0:00:07
   ---- ----------------------------------- 3.0/27.7 MB 4.0 MB/s eta 0:00:07
   ---- ----------------------------------- 3.3/27.7 MB 4.0 MB/s eta 0:00:07
   ----- ---------------------------------- 3.5/27.7 MB 4.0 MB/s eta 0:00:07
   ----- ---------------------------------- 3.7/27.7 MB 3.9 MB/s eta 0:00:07
   ----- ---------------------------------- 4.0/27.7 MB 4.0 MB/s eta 0:00:06
   ------ --------------------------------- 4.2/27.7 MB 3.9 MB/s eta 0:00:06
   ------ --------------------------------- 4.4/27.7 MB 3.9 MB/s eta 0:00:06
   ------ --------------------------------- 4.6/27.7 MB 3.9 MB/s eta 0:00:06
   ------ --------------------------------- 4.8/27.7 MB 3.9 MB/s eta 0:00:06
   ------- -------------------------------- 5.0/27.7 MB 3.9 MB/s eta 0:00:06
   ------- -------------------------------- 5.3/27.7 MB 3.9 MB/s eta 0:00:06
   ------- -------------------------------- 5.3/27.7 MB 3.9 MB/s eta 0:00:06
   -------- ------------------------------- 5.6/27.7 MB 3.8 MB/s eta 0:00:06
   -------- ------------------------------- 5.7/27.7 MB 3.8 MB/s eta 0:00:06
   -------- ------------------------------- 5.9/27.7 MB 3.7 MB/s eta 0:00:06
   -------- ------------------------------- 6.0/27.7 MB 3.7 MB/s eta 0:00:06
   -------- ------------------------------- 6.1/27.7 MB 3.7 MB/s eta 0:00:06
   --------- ------------------------------ 6.3/27.7 MB 3.6 MB/s eta 0:00:06
   --------- ------------------------------ 6.5/27.7 MB 3.6 MB/s eta 0:00:06
   --------- ------------------------------ 6.5/27.7 MB 3.5 MB/s eta 0:00:07
   --------- ------------------------------ 6.7/27.7 MB 3.5 MB/s eta 0:00:07
   --------- ------------------------------ 6.8/27.7 MB 3.4 MB/s eta 0:00:07
   ---------- ----------------------------- 7.0/27.7 MB 3.5 MB/s eta 0:00:06
   ---------- ----------------------------- 7.2/27.7 MB 3.4 MB/s eta 0:00:06
   ---------- ----------------------------- 7.4/27.7 MB 3.5 MB/s eta 0:00:06
   ---------- ----------------------------- 7.6/27.7 MB 3.4 MB/s eta 0:00:06
   ----------- ---------------------------- 7.8/27.7 MB 3.5 MB/s eta 0:00:06
   ----------- ---------------------------- 7.9/27.7 MB 3.4 MB/s eta 0:00:06
   ----------- ---------------------------- 8.1/27.7 MB 3.4 MB/s eta 0:00:06
   ----------- ---------------------------- 8.2/27.7 MB 3.4 MB/s eta 0:00:06
   ------------ --------------------------- 8.4/27.7 MB 3.4 MB/s eta 0:00:06
   ------------ --------------------------- 8.5/27.7 MB 3.4 MB/s eta 0:00:06
   ------------ --------------------------- 8.7/27.7 MB 3.4 MB/s eta 0:00:06
   ------------ --------------------------- 8.8/27.7 MB 3.4 MB/s eta 0:00:06
   ------------ --------------------------- 9.0/27.7 MB 3.4 MB/s eta 0:00:06
   ------------- -------------------------- 9.2/27.7 MB 3.4 MB/s eta 0:00:06
   ------------- -------------------------- 9.3/27.7 MB 3.4 MB/s eta 0:00:06
   ------------- -------------------------- 9.5/27.7 MB 3.4 MB/s eta 0:00:06
   ------------- -------------------------- 9.6/27.7 MB 3.4 MB/s eta 0:00:06
   -------------- ------------------------- 9.8/27.7 MB 3.4 MB/s eta 0:00:06
   -------------- ------------------------- 10.0/27.7 MB 3.4 MB/s eta 0:00:06
   -------------- ------------------------- 10.1/27.7 MB 3.4 MB/s eta 0:00:06
   -------------- ------------------------- 10.4/27.7 MB 3.4 MB/s eta 0:00:06
   --------------- ------------------------ 10.5/27.7 MB 3.4 MB/s eta 0:00:06
   --------------- ------------------------ 10.6/27.7 MB 3.4 MB/s eta 0:00:06
   --------------- ------------------------ 10.8/27.7 MB 3.4 MB/s eta 0:00:05
   --------------- ------------------------ 10.9/27.7 MB 3.4 MB/s eta 0:00:05
   --------------- ------------------------ 11.1/27.7 MB 3.4 MB/s eta 0:00:05
   ---------------- ----------------------- 11.2/27.7 MB 3.3 MB/s eta 0:00:05
   ---------------- ----------------------- 11.4/27.7 MB 3.4 MB/s eta 0:00:05
   ---------------- ----------------------- 11.5/27.7 MB 3.4 MB/s eta 0:00:05
   ----------------- ---------------------- 11.8/27.7 MB 3.3 MB/s eta 0:00:05
   ----------------- ---------------------- 12.0/27.7 MB 3.3 MB/s eta 0:00:05
   ----------------- ---------------------- 12.1/27.7 MB 3.3 MB/s eta 0:00:05
   ----------------- ---------------------- 12.3/27.7 MB 3.3 MB/s eta 0:00:05
   ----------------- ---------------------- 12.4/27.7 MB 3.3 MB/s eta 0:00:05
   ----------------- ---------------------- 12.5/27.7 MB 3.2 MB/s eta 0:00:05
   ------------------ --------------------- 12.6/27.7 MB 3.2 MB/s eta 0:00:05
   ------------------ --------------------- 12.7/27.7 MB 3.2 MB/s eta 0:00:05
   ------------------ --------------------- 12.9/27.7 MB 3.2 MB/s eta 0:00:05
   ------------------ --------------------- 13.0/27.7 MB 3.2 MB/s eta 0:00:05
   ------------------ --------------------- 13.1/27.7 MB 3.1 MB/s eta 0:00:05
   ------------------- -------------------- 13.3/27.7 MB 3.1 MB/s eta 0:00:05
   ------------------- -------------------- 13.4/27.7 MB 3.1 MB/s eta 0:00:05
   ------------------- -------------------- 13.6/27.7 MB 3.1 MB/s eta 0:00:05
   ------------------- -------------------- 13.7/27.7 MB 3.1 MB/s eta 0:00:05
   -------------------- ------------------- 13.9/27.7 MB 3.1 MB/s eta 0:00:05
   -------------------- ------------------- 14.1/27.7 MB 3.1 MB/s eta 0:00:05
   -------------------- ------------------- 14.2/27.7 MB 3.1 MB/s eta 0:00:05
   -------------------- ------------------- 14.3/27.7 MB 3.1 MB/s eta 0:00:05
   -------------------- ------------------- 14.5/27.7 MB 3.1 MB/s eta 0:00:05
   --------------------- ------------------ 14.6/27.7 MB 3.1 MB/s eta 0:00:05
   --------------------- ------------------ 14.8/27.7 MB 3.1 MB/s eta 0:00:05
   --------------------- ------------------ 15.0/27.7 MB 3.1 MB/s eta 0:00:05
   --------------------- ------------------ 15.2/27.7 MB 3.1 MB/s eta 0:00:05
   ---------------------- ----------------- 15.3/27.7 MB 3.1 MB/s eta 0:00:05
   ---------------------- ----------------- 15.5/27.7 MB 3.1 MB/s eta 0:00:04
   ---------------------- ----------------- 15.6/27.7 MB 3.1 MB/s eta 0:00:04
   ---------------------- ----------------- 15.8/27.7 MB 3.1 MB/s eta 0:00:04
   ----------------------- ---------------- 16.0/27.7 MB 3.1 MB/s eta 0:00:04
   ----------------------- ---------------- 16.1/27.7 MB 3.1 MB/s eta 0:00:04
   ----------------------- ---------------- 16.3/27.7 MB 3.1 MB/s eta 0:00:04
   ----------------------- ---------------- 16.5/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------ --------------- 16.6/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------ --------------- 16.7/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------ --------------- 17.0/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------ --------------- 17.1/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------ --------------- 17.2/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------- -------------- 17.4/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------- -------------- 17.4/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------- -------------- 17.6/27.7 MB 3.2 MB/s eta 0:00:04
   ------------------------- -------------- 17.7/27.7 MB 3.1 MB/s eta 0:00:04
   ------------------------- -------------- 17.9/27.7 MB 3.1 MB/s eta 0:00:04
   -------------------------- ------------- 18.1/27.7 MB 3.1 MB/s eta 0:00:04
   -------------------------- ------------- 18.2/27.7 MB 3.1 MB/s eta 0:00:04
   -------------------------- ------------- 18.3/27.7 MB 3.1 MB/s eta 0:00:04
   -------------------------- ------------- 18.4/27.7 MB 3.1 MB/s eta 0:00:03
   -------------------------- ------------- 18.6/27.7 MB 3.1 MB/s eta 0:00:03
   --------------------------- ------------ 18.7/27.7 MB 3.1 MB/s eta 0:00:03
   --------------------------- ------------ 18.9/27.7 MB 3.1 MB/s eta 0:00:03
   --------------------------- ------------ 19.0/27.7 MB 3.1 MB/s eta 0:00:03
   --------------------------- ------------ 19.1/27.7 MB 3.1 MB/s eta 0:00:03
   --------------------------- ------------ 19.3/27.7 MB 3.1 MB/s eta 0:00:03
   ---------------------------- ----------- 19.5/27.7 MB 3.1 MB/s eta 0:00:03
   ---------------------------- ----------- 19.6/27.7 MB 3.1 MB/s eta 0:00:03
   ---------------------------- ----------- 19.6/27.7 MB 3.1 MB/s eta 0:00:03
   ---------------------------- ----------- 19.8/27.7 MB 3.1 MB/s eta 0:00:03
   ---------------------------- ----------- 19.9/27.7 MB 3.1 MB/s eta 0:00:03
   ---------------------------- ----------- 20.1/27.7 MB 3.1 MB/s eta 0:00:03
   ----------------------------- ---------- 20.2/27.7 MB 3.1 MB/s eta 0:00:03
   ----------------------------- ---------- 20.4/27.7 MB 3.1 MB/s eta 0:00:03
   ----------------------------- ---------- 20.4/27.7 MB 3.0 MB/s eta 0:00:03
   ----------------------------- ---------- 20.6/27.7 MB 3.0 MB/s eta 0:00:03
   ------------------------------ --------- 20.8/27.7 MB 3.0 MB/s eta 0:00:03
   ------------------------------ --------- 21.0/27.7 MB 3.0 MB/s eta 0:00:03
   ------------------------------ --------- 21.1/27.7 MB 3.1 MB/s eta 0:00:03
   ------------------------------ --------- 21.3/27.7 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 21.5/27.7 MB 3.1 MB/s eta 0:00:03
   ------------------------------- -------- 21.6/27.7 MB 3.1 MB/s eta 0:00:02
   ------------------------------- -------- 21.8/27.7 MB 3.1 MB/s eta 0:00:02
   ------------------------------- -------- 21.9/27.7 MB 3.1 MB/s eta 0:00:02
   ------------------------------- -------- 22.1/27.7 MB 3.1 MB/s eta 0:00:02
   -------------------------------- ------- 22.3/27.7 MB 3.1 MB/s eta 0:00:02
   -------------------------------- ------- 22.4/27.7 MB 3.1 MB/s eta 0:00:02
   -------------------------------- ------- 22.6/27.7 MB 3.1 MB/s eta 0:00:02
   -------------------------------- ------- 22.7/27.7 MB 3.1 MB/s eta 0:00:02
   --------------------------------- ------ 22.9/27.7 MB 3.1 MB/s eta 0:00:02
   --------------------------------- ------ 23.0/27.7 MB 3.1 MB/s eta 0:00:02
   --------------------------------- ------ 23.2/27.7 MB 3.1 MB/s eta 0:00:02
   --------------------------------- ------ 23.3/27.7 MB 3.1 MB/s eta 0:00:02
   --------------------------------- ------ 23.4/27.7 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 23.6/27.7 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 23.7/27.7 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 23.9/27.7 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 24.0/27.7 MB 3.1 MB/s eta 0:00:02
   ---------------------------------- ----- 24.2/27.7 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 24.3/27.7 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 24.5/27.7 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 24.6/27.7 MB 3.1 MB/s eta 0:00:02
   ----------------------------------- ---- 24.8/27.7 MB 3.1 MB/s eta 0:00:01
   ----------------------------------- ---- 24.9/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 25.1/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 25.2/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 25.4/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 25.5/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 25.7/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 25.9/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 26.0/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 26.1/27.7 MB 3.1 MB/s eta 0:00:01
   ------------------------------------- -- 26.2/27.7 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 26.4/27.7 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 26.6/27.7 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 26.7/27.7 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 26.9/27.7 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  27.1/27.7 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------  27.2/27.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  27.4/27.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  27.6/27.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  27.7/27.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  27.7/27.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  27.7/27.7 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------- 27.7/27.7 MB 2.9 MB/s eta 0:00:00
Installing collected packages: ibm-db, ibm_db_sa
Successfully installed ibm-db-3.2.0 ibm_db_sa-0.4.0

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/4d/81/316b6a55a0d1f327d04cc7b0ba9d04058cb62de6c3a4d4b0df280cbe3b0b/prettytable-3.9.0-py3-none-any.whl.metadata
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in c:\users\elitebook\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/67/e7/7c77fd5290646f929b499992607cf1bc940573098a593080fcc8f7e13a08/SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
     ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: six in c:\users\elitebook\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\elitebook\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\elitebook\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\elitebook\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\elitebook\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\elitebook\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\elitebook\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\elitebook\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\elitebook\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\elitebook\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading SQLAlchemy-2.0.23-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/2.1 MB 4.6 MB/s eta 0:00:01
   ------ --------------------------------- 0.4/2.1 MB 3.7 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/2.1 MB 3.7 MB/s eta 0:00:01
   ------------ --------------------------- 0.7/2.1 MB 3.2 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 4.0 MB/s eta 0:00:01
   -------------------- ------------------- 1.0/2.1 MB 3.3 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 4.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.7 MB/s eta 0:00:00
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.23 sqlparse-0.4.4

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
!pip install -q pandas==1.1.5

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

In [33]:
df = df.dropna(subset=['Date'])

In [36]:
df['Date']=pd.to_datetime(df['Date'], format='%d/%m/%Y')

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [9]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('6/4/2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('12/8/2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22/05/2012', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('10/8/2012', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('3/1/2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version LIKE 'F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [30]:
%sql SELECT MIN(Date) FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)'
# obviously the MIN function is treating Date as a string, so that is not the date of the first successful landing

 * sqlite:///my_data1.db
Done.

[('1/8/2018',)]

In [40]:
df[df['Landing_Outcome']=='Success (ground pad)'][['Date']].min()
# this is the right one

Date   2015-12-22
dtype: datetime64[ns]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [31]:
%sql SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ >4000 AND PAYLOAD_MASS__KG_ <6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [15]:
%sql SELECT Mission_Outcome, COUNT(*) FROM SPACEXTABLE GROUP BY Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:
%%sql
SELECT DISTINCT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ IN (
SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE
)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [27]:
%%sql
SELECT substr(Date, -7,2) AS Month, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTABLE WHERE substr(Date,-4,5)='2015'

 * sqlite:///my_data1.db
Done.

[('10', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('11', 'Controlled (ocean)', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('/2', 'No attempt', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('04', 'No attempt', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('06', 'Precluded (drone ship)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('12', 'Success (ground pad)', 'F9 FT B1019', 'CCAFS LC-40')]

In [45]:
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month

In [46]:
df[df['Year']==2015][['Month', 'Landing_Outcome','Booster_Version','Launch_Site']] #this is better

    Month         Landing_Outcome Booster_Version  Launch_Site
13     10    Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
14     11      Controlled (ocean)   F9 v1.1 B1013  CCAFS LC-40
15      2              No attempt   F9 v1.1 B1014  CCAFS LC-40
16      4    Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40
17      4              No attempt   F9 v1.1 B1016  CCAFS LC-40
18      6  Precluded (drone ship)   F9 v1.1 B1018  CCAFS LC-40
19     12    Success (ground pad)     F9 FT B1019  CCAFS LC-40

In [41]:
df.head(1)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-04-06,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [52]:
df[(df['Date']>'2010-06-04') & (df['Date']<'2017-03-20')].groupby('Landing_Outcome').count().reset_index().sort_values(by=['Date'], ascending = False)[['Landing_Outcome']]

          Landing_Outcome
3              No attempt
1    Failure (drone ship)
5    Success (drone ship)
6    Success (ground pad)
0      Controlled (ocean)
7    Uncontrolled (ocean)
2     Failure (parachute)
4  Precluded (drone ship)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>